<ion-header>
    <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>訊息對話</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding text-center>
    <ion-list *ngIf="logged">
        <ion-item *ngFor="let chatMember of chatMembers" (click)="contactChat(chatMember.account)">
            <ion-avatar item-start>
                <ion-icon name="contact" color="primary"></ion-icon>
            </ion-avatar>
            <h2>{{chatMember.name}}</h2>
            <p>{{chatMember.role}}</p>
            <!-- <p>公告次數：{{admin.chatCount?.postCount || 0}}</p>
            <p>發訊次數：{{admin.chatCount?.sendCount || 0}}</p>
            <p>收訊次數：{{admin.chatCount?.receiveCount || 0}}</p> -->
        </ion-item>
        <!-- <ion-item *ngFor="let admin of admins" (click)="contactChat(admin.account)">
            <ion-avatar item-start>
                <ion-icon name="contact" color="primary"></ion-icon>
            </ion-avatar>
            <h2>{{admin.member.name}}</h2>
            <p>公告次數：{{admin.chatCount?.postCount || 0}}</p>
            <p>發訊次數：{{admin.chatCount?.sendCount || 0}}</p>
            <p>收訊次數：{{admin.chatCount?.receiveCount || 0}}</p>
        </ion-item> -->
    </ion-list>

    <div *ngIf="!logged" id="hint">
        <ion-card text-left>
            <ion-card-header>
                <h1>歡迎使用~Ring~</h1>
            </ion-card-header>
            <ion-card-content>
                <p>請點擊【設定】選單</p>
                <p>完成登入手續</p>
                <p>以開啟功能</p>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>