<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>最新公告</ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="C" padding>
  <ion-list inset *ngIf="logged">
    <ion-item *ngFor="let index = index; let postType of postTypes" [navPush]="postPage" [navParams]="postType.typeName">
      <ion-row>
      <ion-icon style="margin-right:5%;" name={{postType.icon}}></ion-icon>
      <h2>{{postType.title}}</h2>
      </ion-row>
      <p>{{postType.latestPost?.sender}}</p>
      <ion-card>
          <ion-card-content>{{postType.latestPost?.message}}</ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <div *ngIf="!logged" id="hint">
    <ion-card>
      <ion-card-header>
        <h1>歡迎使用~Ring~</h1>
      </ion-card-header>
      <ion-card-content>
        <p>請點擊【設定】選單</p>
        <p>完成登入手續</p>
        <p>以開啟功能</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>