page-friendList {
    ion-icon {
        font-size: 40px;
    }

    #hint {
        widows: 100%;
        position: relative;
        top: 20%;

        h1 {
            font-size: 30px;
            font-weight: bold;
        }

        h2 {
            font-size: 28px;
            font-weight: bold;
        }

        p {
            font-size: 16px;
        }
    }
}
.btnIcon{
    font-size: 26px;
}