<ion-header>
    <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>設定</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding text-center>
    <img src="assets/imgs/icon.png" id="icon" />

    <ion-list no-lines *ngIf="!logged">
        <ion-item>
            <ion-label floating>E-mail</ion-label>
            <ion-input type="email" [(ngModel)]="username"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>密碼</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
    </ion-list>

    <div class="errorMessage" *ngIf="!logged">{{errorMessage}}</div>
    <div padding *ngIf="!logged">
        <button ion-button color="primary" block (click)="signIn(username, password)">登入</button>
        <button ion-button color="dark" block (click)="goToRegisterPage()">註冊</button>
    </div>

    <ion-list no-lines *ngIf="logged">
        <ion-item>
            <ion-avatar>姓名</ion-avatar>
            <p>{{(admin)?.member.name}}</p>
        </ion-item>
        <ion-item>
            <ion-avatar>帳號</ion-avatar>
            <p>{{(admin)?.member.account}}</p>
        </ion-item>
        <ion-item>
            <ion-avatar>權限</ion-avatar>
            <p>{{((admin)?.role == "manager") ? "管理者" :  "會員"}}</p>
        </ion-item>
        <ion-item>
            <ion-avatar>電子郵件</ion-avatar>
            <p>{{(admin)?.member.email}}</p>
        </ion-item>
        <ion-item>
            <ion-avatar>電話</ion-avatar>
            <p>{{(admin)?.member.phone}}</p>
        </ion-item>
        <button ion-button color="danger" block (click)="signOut()">登出</button>
        <button ion-button color="primary" block (click)="resetPassword()">修改密碼</button>
        <br />
    </ion-list>
</ion-content>